@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/montserrat-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/montserrat-medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
