@use './_fonts.scss';
@use './recetStyles.scss';
@use './variables.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: 'montserrat', 'sans-serif';
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: var(--text-color);
}

.calculator {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2px 2px;
  border-radius: 10px;

  &__theme-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    transition: transform 0.4s ease;
    font-size: 10px;
    color: var(--text-color);
  }

  &__theme-toggle > :only-child {
    width: 20px;
  }

  &__display-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 40px 10px 10px;
    min-height: 95px;
    align-items: end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__display {
    white-space: normal;
    word-break: break-all;

    &_previous {
      font-weight: 400;
      font-size: 16px;
      color: var(--displat-previous);
    }

    &_current {
      font-weight: 400;
      font-size: 32px;
      line-height: 34px;
    }
  }

  &__buttons-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }

  &__button {
    width: 100%;
    min-height: 50px;
    background-color: var(--button-bg);
    color: var(--text-color);
    transition: background-color 0.4s ease;
  }

  &__button:hover {
    background-color: var(--button-hover);
  }

  &__button-percent,
  &__button-clear,
  &__button-sign {
    background-color: var(--secondary-bg);
  }

  &__button-percent:hover,
  &__button-clear:hover,
  &__button-sign:hover {
    background-color: var(--secondary-button-hover);
  }

  &__button:active,
  &__button-percent:active,
  &__button-clear:active,
  &__button-sign:active {
    background-color: var(--button-active);
  }

  &__button-operator {
    background-color: var(--accent-color);
  }

  &__button-operator:hover {
    background-color: var(--accent-hover);
  }

  &__button-operator:active {
    background-color: var(--accent-active);
  }

  &__button-zero {
    grid-area: 5 / 1 / 5 / 3;
    border-radius: 0px 0px 0px 9px;
  }

  &__buttons-wrapper > :last-child {
    border-radius: 0px 0px 9px 0px;
  }
}
